@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font: "roboto", sans-serif;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ag-row .ag-cell {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
}

.react-datepicker {
  border-radius: 5px;
  border-color: transparent !important;
  border-width: 0;
  background-color: white !important;
}

.dark .rbc-off-range-bg {
  background-color: #1f1f1f !important;

}

.dark .rbc-addons-dnd {
  color: white !important;
}

.dark .rbc-toolbar button {
  color: white !important;
}

.dark .rbc-active {
  color: white !important;
  background-color: #1f1f1f !important;
}

.dark .rbc-today {
  background-color: #7c738d !important;
}